@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@font-face { 
  font-family: "Cyber";
  src: url("assets/Cyber.ttf"); 
}

@font-face { 
  font-family: "Impact";
  src: url("assets/font/impact.ttf"); 
}

a {
  color: #DBDFEA;
}

a:hover {
  color: #ffffff;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  /*background: linear-gradient(90deg, hsla(265, 75%, 26%, 1) 0%, hsla(365, 75%, 26%, 1) 100%);*/
  background: linear-gradient(90deg, hsla(250, 74%, 45%, 1) 0%, hsla(267, 56%, 50%, 1) 100%);
  /*background: linear-gradient(90deg, #3b1eca 0%, #793ac7 100%);*/
  color: #DBDFEA;
}

p {
  font-size: 18px;
}

div {
  font-size: 18px;
}

hr {
  background-color: #DBDFEA;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: transparent;
  border-color: #DBDFEA;
  box-shadow: none;
  color: #DBDFEA;
}

.btn-primary:hover {
  color: black;
  border-color: #ffffff;
  background: #ffffff;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: white;
  border-color: black;
  box-shadow: none;
  color: black;
}

.btn-secondary:hover {
  color: black;
  border-color: #ffffff;
  background: #ffffff;
}

.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #DBDFEA;
}

.img-thumbnail {
  background-color: transparent;
}

.modal-content {
  color: black;
}

.span-link:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.span-link {
  text-decoration: underline;
}

.Vue-Toastification__toast--info {
  background-color: #3a1174;
  border: 1px solid #DBDFEA;
}

.Vue-Toastification__toast--success {
  background-color: #4b7411;
  border: 1px solid #DBDFEA;
}

.Vue-Toastification__toast--error {
  background-color: #741911;
  border: 1px solid #DBDFEA;
}

@media only screen and (max-width: 767px) {
  #sidebar-container {
    margin-bottom: 15px;
  }
}
